@use 'icons';

html, body {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'Comfortaa', sans-serif;

    line-height: 1.6em;
    min-height: 100vh;

    color: var(--color-on-light);

    --hover-transition: 0.1s;
    --hover-transition-long: 0.2s;

    --color-light-1: #6666a8;
    --color-light-2: #1e5ea2;

    --color-dark-1: #2f2f49;
    --color-dark-2: #2d3756;
    --color-dark-3: #333f62;

    --color-card: #f0f0f0;
    --color-card-hover: #e8e8e8;

    --color-on-light: black;
    --color-on-light-medium: #6c6c6c;
    --color-on-dark: white;

    --color-shadow-light: rgba(0,0,0,.16);
    --color-shadow-medium: rgba(0,0,0,.18);
    --color-shadow-dark: rgba(0,0,0,.25);

    --banner-gradient: linear-gradient(#00001b, var(--color-light-1));
}

h1 {
    line-height: 1.4em;

    // https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements#specifying_a_uniform_font_size_for_h1
    margin-block: 0.67em;
    font-size: 2em;
}

img {
    pointer-events: none;
    display: block;
}

body > * {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;

    height: 18em;

    color: var(--color-on-dark);
    background: var(--banner-gradient);
}

header > img {
    height: 10em;
}

header > h1 {
    font-size: 2em;
    font-weight: bolder;
    margin: 0;
}

header > .stars-overlay {
    position: absolute;
    width: 100%;
    height: 18em;
    box-sizing: content-box;
    background-image: url('stars.svg');
    z-index: 100;
    mask-image: linear-gradient(#fff, #ffffff0d);
}

header > * {
    z-index: 200;
}

nav {
    display: flex;
    align-items: center;

    z-index: 100;
    position: sticky;
    top: 0;

    height: 4em;

    box-sizing: border-box;

    color: var(--color-on-dark);
    background-color: var(--color-light-1);
    box-shadow: 0 .4rem .5rem var(--color-shadow-medium);
}

nav > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;

    height: 100%;

    color: inherit;

    text-decoration: none;
    transition: var(--hover-transition);
}

nav > a:hover {
    background-color: var(--color-light-2);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;

    box-sizing: border-box;

    padding: 3em;
    
    flex-grow: 1;
}

article {
    max-width: 50em;
    width: 50em;
}

aside {
    max-width: 20em;
}

article, aside {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

aside > .image-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

aside > .image-container img {
    width: 20em;
}

article div.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article div.container > * {
    max-width: 100%;
    max-height: 12em;
}

.image-container img {
    border-radius: 1em;
}

#main-content-button {
    position: absolute;

    background-color: white;
    border: 1px solid gray;
    color: var(--color-on-light);

    padding: .7em 1.5em;
    border-radius: 3em;
    width: auto;
    z-index: 1000;

    top: 2em;
    left: 2em;

    transform: translateY(-200%);

    transition: var(--hover-transition);
}

#main-content-button:focus-within {
    left: 2em;
    transform: translateY(0%);
}

.v-separator {
    background-color: rgba(0, 0, 0, 0.18);
    width: 1px;
    max-width: 1px;
}

.card {
    background-color: var(--color-card);
    box-sizing: border-box;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 1em;
    
    color: var(--color-on-light);

    box-shadow: 0 0.2rem 0.4rem var(--color-shadow-light);
    transition: var(--hover-transition);
}

a:has(.card) {
    text-decoration: none;
}

a:hover > .card {
    background-color: var(--color-card-hover);

    box-shadow: 0 0.2rem 0.6rem var(--color-shadow-dark);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card-horizontal {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

.card-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.card-person {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

.card-person > img.avatar {
    object-fit: cover;
	aspect-ratio: 1/1;

    width: 7em;
	height: 7em;

	border-radius: 10em;
}

.card-person > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em 0;
}

.card-person > div * {
    margin: 0;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.tag-list > * {
    padding: 0.2em 0.5em;
    border-radius: 1em;
    background-color: lightblue;
}

.tag-list > .tag-strong {
    background-color: #b7b7e1;
}

img.medium-image {
    object-fit: contain;
    aspect-ratio: 1/1;

    width: 7em;
	height: 7em;
}

.social-media-icons {
    display: flex;
    gap: 1em;
    overflow: hidden;
}

.social-media-icons > * {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.pre-footer {
    background-color: var(--color-card);
    box-sizing: border-box;
    padding: 2em 1.5em;
}

.link-buttons-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.link-buttons-container > a {
    padding: 0.7em 1.25em;
	border-radius: 3em;
	min-width: 5.5em;
    height: fit-content;

    border: 1px solid gray;
	color: #000;

	text-align: center;
	text-decoration: none;

    transition: var(--hover-transition);
}

.link-buttons-container > a:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
}

article.special {
    max-width: 25em;
    text-align: center;
}

p {
    margin: 1.4em 0;
}

a:has(> img) {
    transition: var(--hover-transition-long);
}

a:has(> img):hover {
    filter: drop-shadow(0 .2rem .6rem var(--color-shadow-dark));
}

iframe[src^="https://www.youtube.com"].floating-left, iframe[src^="https://www.youtube.com"].floating-right {
	width: min(24em, 100%);
	border-radius: 1em;
	margin-bottom: 1.4em;
}

img.floating-left, img.floating-right {
    border-radius: 1em;
    margin-bottom: 2em;
}

.floating-left {
    float: left;
	margin-right: 2em;
}

.floating-right {
    float: right;
	margin-left: 2em;
}

img.floating-icon {
    width: 5em;
    height: 5em;
    margin-bottom: 1em;
}

img.floating-icon.floating-left {
    margin-right: 1em;
}

img.floating-icon.floating-right {
    margin-left: 1em;
}

iframe[src^="https://www.youtube.com"] {
    aspect-ratio: 16/9;
    background-color: black;
}

main span.post-meta {
    color: var(--color-on-light-medium);
    display: flex;
    align-items: center;
    gap: 0.5em;
}

main span.post-meta span {
    translate: 0 -0.03em;
}

.card-post {
    display: flex;
    gap: 1em;
    flex-direction: row;
    flex-grow: 0;

    padding-top: 2em;
    padding-bottom: 2em;
}

.card-post > img {
    width: 16em;

    border-radius: 0.8em;
    background-color: rgba(0, 0, 0, 0.089);

    aspect-ratio: 4/3;
    object-fit: cover;
}

.post-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.post-info * {
    margin: 0;
}

.post-info > h2 {
    line-height: 1.2em;
}

.post-info > .meta {
    color: var(--color-on-light-medium);
}

.post-info > p {
    mask-image: linear-gradient(#fff, rgba(255, 255, 255, 0.18));
}

footer {
    display: flex;
    flex-direction: column;
}

footer > :not(:last-child) {
    box-shadow: 0 -0.1rem .6rem var(--color-shadow-light);
}

footer > .you-can-help {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7em;
    margin-top: 3em;
}

footer > .you-can-help > img {
    width: 11em;
    height: 11em;
    position: absolute;
    transform: translateY(-11em);
}

footer > .you-can-help > div {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

footer > .you-can-help > div > div:not(.v-separator) {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;

    max-width: 20em;
    gap: 1em;

    padding: 1em 0;
}

footer > .you-can-help .link-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

footer > .you-can-help > div > :first-child {
    text-align: right;
}

footer > .you-can-help > div > :only-child {
    text-align: center;
}

footer > :last-child {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.5em;

    z-index: 100;
    position: sticky;
    top: 0;

    min-height: 13em;
    padding: 1.5em 3em;

    box-sizing: border-box;

    color: white;
    background-color: var(--color-dark-1);
    background-image: url('footer.svg');
    background-repeat: no-repeat;
    background-position: bottom 1.5em right 3em;
}

footer > :last-child > a {
    color: lightblue;
}

#sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;

	padding-top: 2em;
	padding-bottom: 2em;

    background-color: var(--color-dark-3);
	color: white;
}

#sponsors > h2 {
    margin: .5em 0 1em 0;
}

#sponsors > h3 {
    margin: 1.15em 0;
	font-weight: lighter;
	color: #ffffffc7;
}

#sponsors > div {
	display: flex;
	flex-wrap: wrap;
    align-items: center;
	justify-content: center;

	gap: 3em;
    padding: 1.5em 2em;
    border-radius: 1em;

    background-color: var(--color-dark-2);
}

#sponsors > div a {
    width: 6em;
    height: 6em;

    display: flex;
    align-items: center;
    justify-content: center;
}

#sponsors > div img {
    max-width: 6em;
    max-height: 6em;
}

#sponsors > div.sponsors-small a {
    width: 4em;
    height: 4em;
}

#sponsors > div.sponsors-small img {
    max-width: 4em;
    max-height: 4em;
}

#sponsors > div.sponsors-large a {
    width: 8em;
    height: 8em;
}

#sponsors > div.sponsors-large img {
    max-width: 8em;
    max-height: 8em;
}

#sponsors a:has(img):hover {
    scale: 1.08;
}

//
// Medium screens and smaller
//
@media only screen and (max-width: 77em) {

    main {
        flex-direction: column;
        align-items: center;
    }

    aside {
        max-width: 50em;
        align-items: center;
    }

    aside > .image-container {
        flex-direction: row;
        align-items: center;
        width: 100vw;
        overflow-x: scroll;
    }

    aside > .image-container > * {
        padding: 0.5em 0;
    }

    aside > .image-container:has(> :only-child) {
        justify-content: center;
    }

    aside > .image-container > :first-child {
        margin-left: 2em;
    }

    aside > .image-container > :last-child {
        margin-right: 2em;
    }
}

//
// Mobile sized screens
//
@media only screen and (max-width: 868px) {

    article {
        width: 100%;
    }

    aside {
        max-width: 50em;
        width: 100%;
    }

    .pre-footer-content {
        justify-self: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    #pre-footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #pre-footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
    }

    .link-buttons-container {
        flex-direction: column;
    }

    .link-buttons-container > a {
        width: calc(100% - 3em);
    }

    nav {
        flex-direction: column;
        height: auto;
        position: unset;
    }

    nav > * {
        height: 4em;
        width: 100%;
        padding-bottom: 0.6em;
        padding-top: 0.6em;
    }

    nav > .social-media-icons {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .card-person {
        align-items: baseline;
        flex-direction: column;
        gap: 0em;
    }

    .card-person:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .card-post {
        flex-direction: column;
    }

    .card-post > img {
        width: 100%;
        height: 16em;
    }

    #sponsors > div {
        padding: 1em 0;
        border-radius: 0;
        width: 100%;
    }
}
