html, body {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'Comfortaa', sans-serif;

    line-height: 1.6em;
    
    min-height: 100vh;
}

img {
    pointer-events: none;
    display: block;
}

body > * {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;

    height: 18em;

    color: white;
    background: linear-gradient(#00001bff, #6666a8ff);
}

header > img {
    height: 10em;
}

header > h1 {
    font-size: 2em;
    font-weight: bolder;
    margin: 0;
}

header > .stars-overlay {
    position: absolute;
    width: 100%;
    height: 18em;
    box-sizing: content-box;
    background-image: url('stars.svg');
    z-index: 100;
    mask-image: linear-gradient(#fff, #ffffff0d);
}

header > * {
    z-index: 200;
}

nav {
    display: flex;
    align-items: center;

    z-index: 100;
    position: sticky;
    top: 0;

    height: 4em;

    box-sizing: border-box;

    color: white;
    background-color: #6666a8;
}

nav > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;

    height: 100%;

    color: white;

    text-decoration: none;
}

nav > a:hover {
    background-color: #1e5ea2;
}

footer {
    display: flex;
    align-items: center;

    z-index: 100;
    position: sticky;
    top: 0;

    min-height: 4em;
    padding: 1em;

    box-sizing: border-box;

    color: white;
    background-color: #2f2f49;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;

    box-sizing: border-box;

    padding: 3em;
    
    flex-grow: 1;
}

main {
    max-width: 50em;
    width: 50em;
}

aside {
    max-width: 20em;
}

main, aside {
    display: flex;
    flex-direction: column;
    gap: 2em;

    justify-content: baseline;

    background-color: white;
}

aside > .image-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

aside > .image-container img {
    width: 20em;
}

.image-container img {
    border-radius: 1em;
}

.card {
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 1em;
    
    color: black;

    /*box-shadow: rgba(0, 0, 0, 0.041) 0px 4px 12px;*/
}

a:has(.card) {
    text-decoration: none;
}

a:hover > .card {
    background-color: #e2e2e2;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card-horizontal {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

.card-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.card-person {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

.card-person > img.avatar {
    object-fit: cover;
	aspect-ratio: 1/1;

    width: 7em;
	height: 7em;

	border-radius: 10em;
}

img.medium-image {
    object-fit: contain;
    aspect-ratio: 1/1;

    width: 7em;
	height: 7em;
}

.social-media-icons {
    display: flex;
    gap: 1em;
}

.social-media-icons > * {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.pre-footer {
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    padding: 1em;
   
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.pre-footer-content {
    text-align: left;
}

#pre-footer-top {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-bottom: 1em;
}

#pre-footer-bottom {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-bottom: 1em;
}

.link-buttons-container {
   
    display: flex;
    gap: 1em;
    align-items: center;
    
}

.link-buttons-container > a {
    padding: 0.7em;
    border: 1px solid gray;
    border-radius: 3em;
    width: 7em;
    height: fit-content;
    text-align: center;

    color: black;
    text-decoration: none;
}

.link-buttons-container > a:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
}

main.special {
    max-width: 25em;
    text-align: center;
}

p {
    margin: 1.4em 0;
}

.main-container span.post-meta {
    color: gray;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.main-container span.post-meta span {
    translate: 0 -0.03em;
}

.card-post {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.card-post * {
    margin: 0;
}

.card-post > .meta {
    color: gray;
}

.card-post > p {
    mask-image: linear-gradient(#fff, rgba(255, 255, 255, 0.18));
}

#sponsors {
	background-color: #333f62;
	color: white;
	padding-top: 2em;
	padding-bottom: 2em;
}

#sponsors > div {
	display: flex;
	flex-wrap: wrap;
	gap: 3em;
	align-items: center;
	justify-content: center;
}

#sponsors img {
    max-width: 16em;
}

@media only screen and (max-width: 77em) {

    .main-container {
        flex-direction: column;
        align-items: center;
    }

    aside {
        max-width: 50em;
        align-items: center;
    }

    aside > .image-container {
        flex-direction: row;
        align-items: center;
        width: 100%;
        overflow-x: scroll;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {

    main {
        width: 100%;
    }

    aside {
        max-width: 50em;
        width: 100%;
    }

    .pre-footer-content{
        justify-self: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    #pre-footer-top{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #pre-footer-bottom{
        
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .link-buttons-container {
        flex-direction: column;
    }

    .link-buttons-container > a {
        width: calc(100% - 3em);
    }

    nav {
        flex-direction: column;
        height: auto;
        position: unset;
    }

    nav > * {
        height: 4em;
        width: 100%;
        padding-bottom: 0.6em;
        padding-top: 0.6em;
    }

    nav > .social-media-icons {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .card-person {
        align-items: baseline;
        flex-direction: column;
        gap: 0em;
    }

    .card-person:nth-child(odd) {
        flex-direction: column-reverse;
    }
}

/* 
    ICONS 
    https://icon-sets.iconify.design/mdi/
*/

.mdi--clock-outline {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 20a8 8 0 0 0 8-8a8 8 0 0 0-8-8a8 8 0 0 0-8 8a8 8 0 0 0 8 8m0-18a10 10 0 0 1 10 10a10 10 0 0 1-10 10C6.47 22 2 17.5 2 12A10 10 0 0 1 12 2m.5 5v5.25l4.5 2.67l-.75 1.23L11 13V7z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.mdi--user {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.mdi--instagram {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/* mdi is missing tiktok, so we're using ic */
.ic--baseline-tiktok {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.mdi--youtube {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m10 15l5.19-3L10 9zm11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.mdi--twitter {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.2 4.2 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.52 8.52 0 0 1-5.33 1.84q-.51 0-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
