@use 'icons';

html, body {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: 'Comfortaa', sans-serif;

    line-height: 1.6em;
    
    min-height: 100vh;
}

h1 {
    line-height: 1.4em;

    /* https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/Heading_Elements#specifying_a_uniform_font_size_for_h1 */
    margin-block: 0.67em;
    font-size: 2em;
}

img {
    pointer-events: none;
    display: block;
}

body > * {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;

    height: 18em;

    color: white;
    background: linear-gradient(#00001bff, #6666a8ff);
}

header > img {
    height: 10em;
}

header > h1 {
    font-size: 2em;
    font-weight: bolder;
    margin: 0;
}

header > .stars-overlay {
    position: absolute;
    width: 100%;
    height: 18em;
    box-sizing: content-box;
    background-image: url('stars.svg');
    z-index: 100;
    mask-image: linear-gradient(#fff, #ffffff0d);
}

header > * {
    z-index: 200;
}

nav {
    display: flex;
    align-items: center;

    z-index: 100;
    position: sticky;
    top: 0;

    height: 4em;

    box-sizing: border-box;

    color: white;
    background-color: #6666a8;
}

nav > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;

    height: 100%;

    color: white;

    text-decoration: none;
}

nav > a:hover {
    background-color: #1e5ea2;
}

footer {
    display: flex;
    align-items: center;

    z-index: 100;
    position: sticky;
    top: 0;

    min-height: 4em;
    padding: 1em;

    box-sizing: border-box;

    color: white;
    background-color: #2f2f49;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;

    box-sizing: border-box;

    padding: 3em;
    
    flex-grow: 1;
}

article {
    max-width: 50em;
    width: 50em;
}

aside {
    max-width: 20em;
}

article, aside {
    display: flex;
    flex-direction: column;
    gap: 2em;

    justify-content: baseline;

    background-color: white;
}

aside > .image-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

aside > .image-container img {
    width: 20em;
}

.image-container img {
    border-radius: 1em;
}

#main-content-button {
    position: absolute;

    background-color: white;
    border: 1px solid gray;
    color: black;

    padding: .7em 1.5em;
    border-radius: 3em;
    width: auto;
    z-index: 1000;

    top: 2em;
    left: 2em;

    transform: translateY(-200%);

    transition: 0.1s;
}

#main-content-button:focus-within {
    left: 2em;
    transform: translateY(0%);
}

.card {
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 1em;
    
    color: black;

    /*box-shadow: rgba(0, 0, 0, 0.041) 0px 4px 12px;*/
}

a:has(.card) {
    text-decoration: none;
}

a:hover > .card {
    background-color: #e2e2e2;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card-horizontal {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

.card-vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.card-person {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

.card-person > img.avatar {
    object-fit: cover;
	aspect-ratio: 1/1;

    width: 7em;
	height: 7em;

	border-radius: 10em;
}

img.medium-image {
    object-fit: contain;
    aspect-ratio: 1/1;

    width: 7em;
	height: 7em;
}

.social-media-icons {
    display: flex;
    gap: 1em;
    overflow: hidden;
}

.social-media-icons > * {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

.pre-footer {
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.pre-footer .pre-footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.pre-footer .pre-footer-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-bottom: 1em;
}

.link-buttons-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.link-buttons-container > a {
    padding: 0.7em;
    border: 1px solid gray;
    border-radius: 3em;
    width: 7em;
    height: fit-content;
    text-align: center;

    color: black;
    text-decoration: none;
}

.link-buttons-container > a:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
}

article.special {
    max-width: 25em;
    text-align: center;
}

p {
    margin: 1.4em 0;
}

main span.post-meta {
    color: #767676;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

main span.post-meta span {
    translate: 0 -0.03em;
}

.card-post {
    display: flex;
    gap: 1em;
    flex-direction: row;
    flex-grow: 0;

    padding-top: 2em;
    padding-bottom: 2em;
}

.card-post > img {
    width: 16em;

    border-radius: 0.8em;
    background-color: rgba(0, 0, 0, 0.089);

    aspect-ratio: 4/3;
    object-fit: contain;
}

.post-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.post-info * {
    margin: 0;
}

.post-info > .meta {
    color: gray;
}

.post-info > p {
    mask-image: linear-gradient(#fff, rgba(255, 255, 255, 0.18));
}

#sponsors {
	background-color: #333f62;
	color: white;
	padding-top: 2em;
	padding-bottom: 2em;
}

#sponsors > div {
	display: flex;
	flex-wrap: wrap;
	gap: 3em;
	align-items: center;
	justify-content: center;
}

#sponsors .sponsor-text-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8em;
	color: #fff9;
	text-decoration: none;
}

#sponsors img.major-sponsor {
    max-width: 14em;
}

#sponsors img {
    max-width: 9em;
}

//
// Medium screens and smaller
//
@media only screen and (max-width: 77em) {

    main {
        flex-direction: column;
        align-items: center;
    }

    aside {
        max-width: 50em;
        align-items: center;
    }

    aside > .image-container {
        flex-direction: row;
        align-items: center;
        width: 100vw;
        overflow-x: scroll;
    }

    aside > .image-container:has(> :only-child) {
        justify-content: center;
    }

    aside > .image-container > :first-child {
        margin-left: 2em;
    }

    aside > .image-container > :last-child {
        margin-right: 2em;
    }
}

//
// Mobile sized screens
//
@media only screen and (max-width: 868px) {

    article {
        width: 100%;
    }

    aside {
        max-width: 50em;
        width: 100%;
    }

    .pre-footer-content {
        justify-self: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    #pre-footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #pre-footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
    }

    .link-buttons-container {
        flex-direction: column;
    }

    .link-buttons-container > a {
        width: calc(100% - 3em);
    }

    nav {
        flex-direction: column;
        height: auto;
        position: unset;
    }

    nav > * {
        height: 4em;
        width: 100%;
        padding-bottom: 0.6em;
        padding-top: 0.6em;
    }

    nav > .social-media-icons {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .card-person {
        align-items: baseline;
        flex-direction: column;
        gap: 0em;
    }

    .card-person:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .card-post {
        flex-direction: column;
    }

    .card-post > img {
        width: 100%;
        height: 16em;
    }
}
