<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=0.9">

        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link rel="icon" type="image/x-icon" href="/assets/icon.webp">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap">

        <title>VLO Space - {{page.title}}</title>
    </head>
    <body id="top">
        <a id="main-content-button" href="#main-content">Skip to main content</a>

        <header>
            <div class="stars-overlay"></div>
            <img src="/assets/icon.webp" alt="Logo VLO Space">
            <h1>VLO Space</h1>
        </header>

        <nav>
            <a href="{% link index.md %}">Strona główna</a>
            <a href="{% link o-nas.md %}">Kim jesteśmy?</a>
            <a href="{% link nasz-projekt.md %}">Nasz projekt</a>
            <a href="{% link blog.md %}">Blog i nowości</a>
            <div class="social-media-icons">
                <a href="https://www.instagram.com/vlo_space/" class="mdi--instagram">Instagram VLO Space</a>
                <a href="https://www.tiktok.com/@vlo_space_cansat" class="ic--baseline-tiktok">TikTok VLO Space</a>
                <a href="https://www.youtube.com/@VLO_Space" class="mdi--youtube"> YouTube VLO Space</a>
            </div>
        </nav>

        <main id="main-content">
            {{content}}
        </main>

        <footer>
            <div class="pre-footer you-can-help">
                <img src="/assets/rocket.svg" alt="">
                <h2>Chcesz nam pomóc?</h2>

                <div>
                    {% comment %}
                    <div>
                        <span>Możesz wesprzeć nas finansowo na naszej zbiórce&mldr;</span>
                        <div class="link-buttons-container">
                            <a href="https://zrzutka.pl/f3sf8m">Zrzutka</a>
                        </div>
                    </div>
                    <div class="v-separator"></div>
                    {% endcomment %}
                    <div>
                        <span>Możesz nas wesprzeć poprzez mówienie innym o tym, co robimy.</span>
                        <div class="link-buttons-container">
                            <a href="https://www.instagram.com/vlo_space/">Instagram</a>
                            <a href="https://www.tiktok.com/@vlo_space_cansat">TikTok</a>
                            <a href="https://www.youtube.com/@VLO_Space">YouTube</a>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %}
            <div id="sponsors">
                {% comment %}
                    When adding a sponsor, make sure to add the title or alt attribute to the logo!
                {% endcomment %}

                <h2>Wspierają nas</h2>

                <h3>Sponsor strategiczny</h3>
                <div class="sponsors-large">
                    <a href="https://www.scl.com.pl" target="_blank" rel="noopener noreferrer">
                        <img class="major-sponsor" src="/assets/media/logo/scl.webp" title="Śląskie Centrum Logistyki S.A.">
                    </a>
                </div>

                <h3>Sponsorzy</h3>
                <div>
                    <a href="https://kplabs.space/" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/media/logo/kplabs.png">
                    </a>
                    <a href="https://botland.com.pl/?utm_source=kn&utm_medium=social-media&utm_campaign=vlo-space" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/media/logo/botland.png">
                    </a>
                    <a href="https://www.apagroup.pl/en" target="_blank" rel="noopener noreferrer">
                        <img src="/assets/media/logo/apa.png">
                    </a>
                </div>
            </div>
            {% endcomment %}

            <div>
                <a href="#top">↑ Do góry strony</a>
                &copy; Kamil Kaczyński, Kuba Kononowicz vel Siemionowicz
            </div>
        </footer>
    </body>
</html>
