---
layout: base
---

{% capture base_media_url %}/assets/media/post/{{ page.slug }}/{% endcapture %}

<article>
    <section>
        <h1>{{page.title}}</h1>
        <span class="post-meta">
            <span class="mdi--clock-outline"></span>
            {{ page.date | date: "%-d.%m.%Y" }}
            {% if page.author %}
                <span class="mdi--user"></span>
                {{page.author}}
            {% endif %}
        </span>
        {{content}}
    </section>
</article>
<aside>
    <section>
        <h2>Inne posty:</h2>
        <ul>
        {% for post in site.related_posts limit:10 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </section>
    {% if page.media %}
        <section class="image-container">
            {% for media in page.media %}
                {% if media.url %}
                    {% capture media_url %}{{ base_media_url }}{{ media.url }}{% endcapture %}
                {% else %}
                    {% capture media_url %}{{ base_media_url }}{{ media }}{% endcapture %}
                {% endif %}
            
                <a href="{{ media_url }}">
                    <img src="{{ media_url }}" {% if media.title %}title="{{ media.title }}"{% endif %} {% if media.alt %}alt="{{ media.alt }}"{% endif %} >
                </a>
            {% endfor %}
        </section>
    {% endif %}
</aside>
